<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Week8Container" connectionString="metadata=res://*/Week8.csdl|res://*/Week8.ssdl|res://*/Week8.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZHIGANGZHANG\SQLEXPRESS;initial catalog=Cisco;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
